            <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('webjuegos_juegos_front_homepage')}}">Inicio</a></li>
                    <li></li>
                    <li></li>

                  </ul>
                  <div class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{path('webjuegos_juegos_front_usuario')}}">Mi Perfil </a></li>
                            <li><a href="{{path('webjuegos_juegos_front_logout')}}">Cerrar sesión </a></li>
                        </ul>
                        
                        
                    {% else %} 
                        <div class="login">
                            <a href="{{path('webjuegos_juegos_front_registro')}}" class="btn btn-sm btn-info">Registro</a>
                            <a href="{{path('login')}}" class="btn btn-sm btn-primary">Iniciar Sesión</a>
                        </div>
                        
                    {% endif %}     
                  </div>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
