{% extends 'WebjuegosJuegosFrontBundle::base.html.twig' %}

{% block stylesheets %}
   <link href="{{ asset('../bundles/webjuegosjuegosfront/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
   <link href="{{ asset('../bundles/webjuegosjuegosfront/css/propio.css') }}" type="text/css" rel="stylesheet" />
   <link href="{{ asset('../bundles/webjuegosjuegosfront/css/tetris-main.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block body %}
    <h1>Tetris</h1>
    <div class="jumbo2">
        <div class="col-md-4 text-right lateral">
            <div class="col-dcha">
                <h5>GUARDAR:   </h5>
               
                
                <div class="elementoMarcador">
                    <div id="guardada"></div>
                </div>    

                <div class="abajo">
                    <h5>NIVEL: </h5>
                    <div id="nivel">1</div>
                </div>                 
            </div>
            <div class="limpiar"></div>
        </div>
        
        <div class="col-md-4 text-center">
            <div id="game">
                <canvas id="canvasJuego" width="280" height="480"></canvas>
            </div>                   
        </div>
        
        <div class="col-md-4 text-left lateral">
            <h5>PRÓXIMA:   </h5>
            <div class="elementoMarcador">
                
                <div id="proxima"> </div>         
                 
            </div>
            
            <div class="abajo">
                <h5>LÍNEAS: </h5>
                <div id="marcador">0</div>
            </div>
        </div>
    </div>
    
        
    <!-- Modal HTML -->
    <div id="controles" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h2 class="modal-title text-center">Controles</h2>
                </div>
                <div class="modal-body text-center">
                    <p>
                        Mover pieza: flechas de dirección.<br />
                        Girar: tecla A o D.<br />
                        Cambiar Pieza: barra espaciadora
                    </p>

                </div>
                <div class="modal-footer">
                    <center>
                        <button type="button" class="btn btn-lg btn-success" id="empezar" onclick="lanzarPieza()">Empezar</button>
                    </center>

                </div>
            </div>
        </div>
    </div>	        
                            
{% endblock %}    

{% block javascripts %}
    <script src="{{ asset('../bundles/webjuegosjuegosfront/js/jquery.js') }}" type="text/javascript"></script>
    <script>
        function guardarPartida(){
            $.ajax({
                url: "{{ path('guardar_puntuacion') }}",
                data: {
                    puntos : numLineas,
                    juego : 1
                },
                type: 'POST'
            });            
        }        
    </script>
    <script src="{{ asset('../bundles/webjuegosjuegosfront/js/bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('../bundles/webjuegosjuegosfront/js/tetris_1.js') }}" type="text/javascript"></script>
    {% if is_granted('ROLE_USER') %}
        <script src="{{ asset('../bundles/webjuegosjuegosfront/js/tetris-log.js') }}" type="text/javascript"></script>
    {% else %} 
        <script src="{{ asset('../bundles/webjuegosjuegosfront/js/tetris-anon.js') }}" type="text/javascript"></script>
                        
    {% endif %}  
    <script>
        $('#controles').modal('show');
    </script>
    
{% endblock %}